*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.base1{
    background-color: #5e0808;
}

.base{
    background-color: #a70000;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
}

 .box1{
    ul{
        display: flex;
        gap: 15px;
        list-style-type: none;

        li{
            width: 70px;
            height: 35px;
            background-color: #ff0000;
        }

        .logo{
            width: 150px;
        }
    } 
 }

 .box2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff0000;
 }

 .parent{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 20px;
 }

 .card{
    background-color: #ffd8d8;
    height: 120px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
 }

 .left{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #ff0000;
 }

 .right{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    div{
        height: 20px;
        width: 100%;
        background-color: #5e0808;
    }
 }

 @media screen and (max-width: 600px){

    .navbar{
        height: 80px;
    }

    .box1{
        ul{
            gap: 10px;
    
            li{
                width: 45px;
                height: 35px;
            }
    
            .logo{
                width: 60px;
            }
        } 
     }

     .right{
        width: 75%;
     }

    
 }